# INM701 Coursework
## Imtiaz Ali 200022830

The goal is to use regression to predict if a UFC fighter wins more often based on features such height to weight ratio, Significant strikes landed and absorbed, takedowns attempted and defended and also submission attempts.

4100+ records, with 18 features.

### Splitting the data into Training, Validation and Testing

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load your dataset
filename_read = ("ufcfightstats.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])
df = df.dropna()

print(df[:5])

# Assuming 'label_column' is the name of the column containing your target variable (labels)
X = df.drop('wins', axis=1)  # Features
y = df['wins']  # Labels

# Perform the split
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# Print the shapes of the resulting sets to verify the split
print(f"X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"X_val shape: {X_val.shape}, y_val shape: {y_val.shape}")
print(f"X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")

                    name                  nickname  wins  losses  draws  \
2     Cortavious Romious  Are You Not Entertained?     7       2      0
3            Danny Silva                   El Puma     8       1      0
5  Charalampos Grigoriou                 Ferocious     8       3      0
7     Ernesta Kareckaite              Heavy-Handed     5       0      1
8           Danny Barlow              LeftHand2God     7       0      0

   height_cm  weight_in_kg  reach_in_cm    stance date_of_birth  \
2     162.56         61.23       172.72  Southpaw    06/01/1994
3     180.34         65.77       177.80    Switch    30/01/1997
5     170.18         61.23       170.18  Orthodox    31/03/1992
7     175.26         56.70       180.34  Orthodox    05/07/1998
8     187.96         77.11       200.66  Southpaw    02/08/1995

   sig_strikes_landed_min  sig_strike_acc  sig_strikes_absorbed_min  \
2                   14.48              31                     20.69
3                   13.60              64                     13.13
5                   13.00              65                      4.00
7                   12.27              45                     11.20
8                   12.15              57                      5.32

   sig_strike_def  avg_takedowns_landed_per_15_min  takedown_acc  \
2              41                              0.0             0
3              59                              2.0            66
5              63                              0.0             0
7              42                              1.0            50
8              61                              0.0             0

   takedown_def  avg_sub_attempted_15_min
2             0                     14.48
3           100                     13.60
5             0                     13.00
7           100                     12.27
8             0                     12.15
X_train shape: (902, 17), y_train shape: (902,)
X_val shape: (301, 17), y_val shape: (301,)
X_test shape: (301, 17), y_test shape: (301,)

In [32]:
import os
import pandas as pd

path = "."
filename_read = ("ufcfightstats.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])

df = df.select_dtypes(include=['int', 'float'])

headers = list(df.columns.values)
fields = []

for field in headers:
    fields.append({
        'name' : field,
        'mean' : df[field].mean(),
        'var' : df[field].var(),
        'sdev' : df[field].std(),
    })
for field in fields:
    print(field)

{'name': 'wins', 'mean': 12.360671696276466, 'var': 87.90980636468277, 'sdev': 9.376022950306956}
{'name': 'losses', 'mean': 5.722073497201266, 'var': 26.056623158179814, 'sdev': 5.104568851350701}
{'name': 'draws', 'mean': 0.2642978826965198, 'var': 0.6764782130943268, 'sdev': 0.8224829561117524}
{'name': 'height_cm', 'mean': 178.23443861490034, 'var': 79.01810435545387, 'sdev': 8.889212808536753}
{'name': 'weight_in_kg', 'mean': 77.39540527100944, 'var': 323.5821515268348, 'sdev': 17.988389353325516}
{'name': 'reach_in_cm', 'mean': 181.8037288135593, 'var': 114.06219122248105, 'sdev': 10.679990225767112}
{'name': 'sig_strikes_landed_min', 'mean': 2.4421002677050376, 'var': 3.9863567124366543, 'sdev': 1.9965862647120094}
{'name': 'sig_strike_acc', 'mean': 35.55390605986858, 'var': 416.3674074507522, 'sdev': 20.405082882721945}
{'name': 'sig_strikes_absorbed_min', 'mean': 3.1468775857872964, 'var': 8.122973281262047, 'sdev': 2.8500830305908713}
{'name': 'sig_strike_def', 'mean': 42.666585543927965, 'var': 498.3532673308654, 'sdev': 22.3238273450335}
{'name': 'avg_takedowns_landed_per_15_min', 'mean': 1.248537357021173, 'var': 3.7311076215958625, 'sdev': 1.9316075226597826}
{'name': 'takedown_acc', 'mean': 26.29666585543928, 'var': 825.3304197473667, 'sdev': 28.728564526397186}
{'name': 'takedown_def', 'mean': 39.01533219761499, 'var': 1187.2955292286495, 'sdev': 34.45715497873626}
{'name': 'avg_sub_attempted_15_min', 'mean': 2.4421002677050376, 'var': 3.9863567124366543, 'sdev': 1.9965862647120094}

In [31]:
import os
import pandas as pd
import numpy as np

path = "."
filename_read = ("ufcfightstats.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])

df = df.reindex(np.random.permutation(df.index))
df.reset_index(inplace=True, drop=True)
df

,name,nickname,wins,losses,draws,height_cm,weight_in_kg,reach_in_cm,stance,date_of_birth,sig_strikes_landed_min,sig_strike_acc,sig_strikes_absorbed_min,sig_strike_def,avg_takedowns_landed_per_15_min,takedown_acc,takedown_def,avg_sub_attempted_15_min
0,Keith Rockel,Rock,12,4,1,182.88,83.91,NaN,Orthodox,NaN,1.13,73,0.21,66,4.63,75,100,1.13
1,Dan Lauzon,The Upgrade,17,6,0,177.80,70.31,NaN,Orthodox,30/03/1988,1.34,25,4.09,61,1.63,33,80,1.34
2,Royston Wee,NaN,4,1,0,170.18,61.23,170.18,Orthodox,15/11/1986,1.10,60,2.45,49,3.38,81,0,1.10
3,Blake Bowman,NaN,2,6,0,187.96,77.11,NaN,NaN,NaN,0.00,0,0.00,0,0.00,0,0,0.00
4,Cortavious Romious,Are You Not Entertained?,7,2,0,162.56,61.23,172.72,Southpaw,06/01/1994,14.48,31,20.69,41,0.00,0,0,14.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4104,Larissa Pacheco,NaN,10,2,0,170.18,61.23,NaN,Orthodox,07/09/1994,1.21,19,4.14,55,0.00,0,0,1.21
4105,Michael McDonald,Mayday,17,4,0,175.26,61.23,177.80,Orthodox,15/01/1991,2.69,42,2.76,57,1.09,66,52,2.69
4106,Courtney Turner,NaN,0,3,0,187.96,77.11,NaN,NaN,NaN,0.00,0,0.00,0,0.00,0,0,0.00
4107,Anton Kuivanen,NaN,24,10,0,172.72,70.31,182.88,Orthodox,01/05/1984,2.27,38,1.63,67,1.20,100,71,2.27
4108,CM Punk,NaN,0,1,0,185.42,77.11,185.42,Orthodox,26/10/1978,1.10,23,4.87,40,0.87,11,0,1.10

In [34]:
import os
import pandas as pd
import numpy as np

path = "."

filename_read = os.path.join(path, "ufcfightstats.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])

# Check the exact column names
print("All columns:", df.columns)

# Drop the column if it exists
column_to_drop = 'name'
if column_to_drop in df.columns:
    df.drop(column_to_drop, axis=1, inplace=True)
    print(f"After drop: {df.columns}")
else:
    print(f"Column '{column_to_drop}' not found in DataFrame.")

All columns: Index(['name', 'nickname', 'wins', 'losses', 'draws', 'height_cm',
       'weight_in_kg', 'reach_in_cm', 'stance', 'date_of_birth',
       'sig_strikes_landed_min', 'sig_strike_acc', 'sig_strikes_absorbed_min',
       'sig_strike_def', 'avg_takedowns_landed_per_15_min', 'takedown_acc',
       'takedown_def', 'avg_sub_attempted_15_min'],
      dtype='object')
After drop: Index(['nickname', 'wins', 'losses', 'draws', 'height_cm', 'weight_in_kg',
       'reach_in_cm', 'stance', 'date_of_birth', 'sig_strikes_landed_min',
       'sig_strike_acc', 'sig_strikes_absorbed_min', 'sig_strike_def',
       'avg_takedowns_landed_per_15_min', 'takedown_acc', 'takedown_def',
       'avg_sub_attempted_15_min'],
      dtype='object')