# INM701 Coursework
## Imtiaz Ali 200022830

The goal is to use regression to predict if a UFC fighter wins more often based on features such height to weight ratio, Significant strikes landed and absorbed, takedowns attempted and defended and also submission attempts.

4100+ records, with 18 features.

### Splitting the data into Training, Validation and Testing

In [31]:
import os
import pandas as pd
import numpy as np

path = "."
filename_read = ("ufcfightstats.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])

df = df.reindex(np.random.permutation(df.index))
df.reset_index(inplace=True, drop=True)
df

,name,nickname,wins,losses,draws,height_cm,weight_in_kg,reach_in_cm,stance,date_of_birth,sig_strikes_landed_min,sig_strike_acc,sig_strikes_absorbed_min,sig_strike_def,avg_takedowns_landed_per_15_min,takedown_acc,takedown_def,avg_sub_attempted_15_min
0,Keith Rockel,Rock,12,4,1,182.88,83.91,NaN,Orthodox,NaN,1.13,73,0.21,66,4.63,75,100,1.13
1,Dan Lauzon,The Upgrade,17,6,0,177.80,70.31,NaN,Orthodox,30/03/1988,1.34,25,4.09,61,1.63,33,80,1.34
2,Royston Wee,NaN,4,1,0,170.18,61.23,170.18,Orthodox,15/11/1986,1.10,60,2.45,49,3.38,81,0,1.10
3,Blake Bowman,NaN,2,6,0,187.96,77.11,NaN,NaN,NaN,0.00,0,0.00,0,0.00,0,0,0.00
4,Cortavious Romious,Are You Not Entertained?,7,2,0,162.56,61.23,172.72,Southpaw,06/01/1994,14.48,31,20.69,41,0.00,0,0,14.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4104,Larissa Pacheco,NaN,10,2,0,170.18,61.23,NaN,Orthodox,07/09/1994,1.21,19,4.14,55,0.00,0,0,1.21
4105,Michael McDonald,Mayday,17,4,0,175.26,61.23,177.80,Orthodox,15/01/1991,2.69,42,2.76,57,1.09,66,52,2.69
4106,Courtney Turner,NaN,0,3,0,187.96,77.11,NaN,NaN,NaN,0.00,0,0.00,0,0.00,0,0,0.00
4107,Anton Kuivanen,NaN,24,10,0,172.72,70.31,182.88,Orthodox,01/05/1984,2.27,38,1.63,67,1.20,100,71,2.27
4108,CM Punk,NaN,0,1,0,185.42,77.11,185.42,Orthodox,26/10/1978,1.10,23,4.87,40,0.87,11,0,1.10